#about .grid{
    padding-bottom: 20px;

    & img {
      object-fit: cover;
      max-width: 100%;
    }
    & p {
      max-width: 600px;
    }

}

@media screen and (min-width: 541px) {
  #about .grid{
      grid-template-columns:  60% 45%;
      column-gap: 5%;    
      & img{
        padding-top: 20px;
        width: 60%;
      }
  }
}
@media screen and (min-width: 1920px) {
      #about .grid p{
        max-width: 960px;
      }
}
