#about .grid{
  padding-bottom: 20px;

  & img {
    object-fit: cover;
    max-width: 100%;
  }
  & p {
    max-width: 600px;
  }
}
#about button {
  margin-top: 0;
  width: 50%;
  background-color: var(--pill);
  background-color: white;
  color: #364152;
  &:hover{
    background-color: var(--pill);
    transform: none;
    color: white;
  }
}

@media screen and (min-width: 541px) {
  #about .grid{
      grid-template-columns:  60% 35%;
      column-gap: 5%;    
      & img{
        padding-top: 20px;
      }
  }
}
@media screen and (min-width: 1920px) {
      #about .grid p{
        max-width: 960px;
      }
}
