#contact img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-top: 10px;
}
#contact a {
    color: $textGray;
    text-decoration: none;
}
#contact .list {
    list-style: none;
    row-gap: 0;

}
#contact li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
@media screen and (min-width: 541px) {
    #contact .grid{
        grid-template-columns:  1fr 1fr;
    }
}
