#hero {
    min-height: 100vh;
}
#hero img{
    width: 95%;
    // margin-top: 70px;
    // height: 50vh;
}
#hero .section-name{
    display: none;
}
#hero .grid{
    align-items: center;
    height: 80vh;
}
#hero h1 {
    color: var(--cta);
}
@media screen and (min-width: 541px) {
    #hero .grid{
        grid-template-columns:  45% 50%;
        column-gap: 5%;        
    }
}
