#hero img{
    width: 95%;
    height: 50vh;
}
#hero .section-name{
    display: none;
}
#hero .grid{
    align-items: center;
    justify-items: center;
    height: 90vh;
}
@media screen and (min-width: 541px) {
    #hero .grid{
        grid-template-columns:  45% 50%;
        column-gap: 5%;        
    }
}
