nav {
  position: fixed;
  background-color: var(--light-background);
  height: $header-height;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  a {
  text-align: center;
  text-decoration: none;
  color: var(--light-text);
  font-weight: 400;
}

  .container--toggle{
    margin-right: 15px;
  }

.nav-logo {
  img {
    padding-left: 1.2rem;
    height: 2.5rem;
    width: 2.5rem;
  }
}
.bar {
  background-color: var(--light-background);
  align-items: center;
  display: flex;
  justify-content: space-around;

  a{
    padding: 0 3px;
    &:hover{
      color: var(--dark-text);
      font-weight: 600;
    }
  }
}
}

@media screen and (min-width: 541px) {
  nav {
    .container--toggle{
      margin-right: 3rem;
    }
    .nav-logo {
      margin-left: 3rem;
    }
    .bar a {
      padding: 0 1rem;
  }
}

@media screen and (max-width: 400px) {
  nav {
    .bar a {
      padding: 0 5px;
  }
}
}

}
@media screen and (max-width: 320px) {
  nav {
    .container--toggle{
      margin-right: 0;
    }
    .nav-logo {
      margin-left: 0;
      img {
        padding-left: 0;
      }
    }
    .bar a {
      padding: 0 1.5px;
  }
}
}
