/*Projects*/
#projects img {
  width: 130px;
  height: auto;
  border-radius: 8px;
  padding: 0;
}

.overlay img {
  opacity: 0.6;
}

.overlay-text {
  display: flex;
  position: absolute;
  margin-top: 20px;
}

.overlay-text p {
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  z-index: 900;
}

#projects h3 {
  margin-bottom: var(--space-small);
  margin: 0;
}

#projects {
  background: var(--color-light-pink);
  color: var(--color-very-dark-purple);
}

.projects-section {
  padding: var(--space-medium);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: var(--space-small);
  grid-row-gap: var(--space-small);
}

#projects .list {
    grid-template-columns: 1fr 1fr 1fr;
}

/*Technologies*/
#tech {
  background: white;
  color: var(--color-very-dark-purple);
}

.tech-card {
  margin: var(--space-medium);
}

.tech-card img {
  height: 44px;
  width: auto;
}

.tech-card h3 {
  margin: 0;
  padding: 0;
}

.grid-technologies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

@media (min-width: 542px) and (max-width: 768px) {
  #projects .list {
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
}
}
