#technologies img {
  width: 3rem;
  height: 3rem;
}

#technologies caption {
  text-align: center;
  color: var(--light-text);
}

#technologies .list {
  margin-top: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 320px){
    #technologies img {
      width: 30px;
      height: 35px;
    }
    #technologies .list{
      margin-top: 10px;
      grid-template-columns: 1fr 1fr 1fr;
    }
}
