#technologies img {
  width: 2rem;
  height: 2rem;
}

#technologies figcaption {
  color: var(--light-text);
  font-size: .75rem;
  margin-top: var(--space-small);
}

#technologies .figure{
  display: inline-block;
}

#technologies .list {
  margin-top: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
}

@media screen and (max-width: 320px){
    #technologies img {
      width: 30px;
      height: 35px;
    }
}

@media screen and (min-width: 1024px){
    #technologies .list{
      margin-top: 10px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
