.button a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

.button{
    margin-top: 20px;
    width: 100%;
    margin-bottom: 3px;
    padding: var(--space-small);
}

.button{
    margin-bottom: var(--space-medium);
}

.black {
    border: 2px solid var(--button-dark);
    background-color: var( --button-dark);
    & a{
        color: white;
        // color: var(--dark-text);
    }
}

.white {
    border: 2px solid var( --button-dark);
    background-color: var(--button-light);
    & a{
        color: var( --button-dark);
    }

}

#modal-popup .button{
display: grid;
}

.corner-button button{
    font-weight: bolder;
    font-size: 22px;
    float: right;
    position: absolute;
    left: 87%;
    border: none;
    background-color: transparent;
}
.corner-button{
    position: fixed;
    top: 4px;
    right: 43px;
    font-size: 3em;
}

@media screen and (max-height: 568px){
    .corner-button{
        top: 18px;
        right: 37px;
    }
}
@media screen and (min-width: 530px) {
    .corner-button{
        top: 6px;
        right: 32px;
    }

}
