#portal {
    box-sizing: border-box;
    font-weight: 300;
    line-height: 1.5;
    *, ::after, ::before {
    box-sizing: border-box;
}
}
.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: var(--light-background);
    // padding: 28px 20px 28px 20px;
    padding: 20px 16px 16px 20px;
    max-width: 768px;
    height: fit-content;
}

.overlay-modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
}

#modal-popup img{
    width: 100% !important;
    height: auto;
    border: 1px solid white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#modal-popup{
    max-width: 290px; 
    height: fit-content;
}

#modal-popup p{
    font-size: 14px;
    text-align: center;
}

#modal-popup h3{
    font-weight: 400;
    text-align: center;
    margin-top: 0;
    margin: 0;
}

#modal-popup .list{
    grid-template-columns: 1fr auto;
}

.pill {
    border: 1px solid var(--pill);
    color: var(--pill);
    margin: 4px;
    border-radius: 25px;
    padding: 5px 10px 5px 10px;
}

.row {
    margin: 0 auto !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 11px;
    line-height: 1.5em;
    height: 10em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden;  /* prevents extra lines from being visible */
}
@media screen and (max-height: 568px){
    .row {
        height: 6.5em;
    }
}

@media screen and (min-width: 530px) {
    .modal{
        width: 450px;
    }
    #modal-popup{
        display: grid;
        max-width: 450px; 
        grid-template-columns: 45% 52%;
        column-gap: 3%;
    }
    #modal-popup h3{
        text-align: left;
    }
    #modal-popup p{
        text-align: left;
    }
}
@media screen and (min-width: 767px) {
    .modal{
        width: 680px;
        padding: 34px 24px 34px 24px;

    }
    #modal-popup{
        display: grid;
        max-width: 630px; 
        grid-template-columns: 56% 40%;
        column-gap: 3%;
    }
}

@media screen and (min-width: 1024px) {
    .modal{
        width: 920px;
    }
    #modal-popup{
        max-width: 830px; 
    }
    #modal-popup p{
        font-size: 0.85rem;
    }
    .row {
        font-size: 0.6rem;
    }
}

@media screen and (min-width: 2000px) {
    .modal{
        width: 1920px;
    }
    #modal-popup{
        max-width: 1800px; 
    }
    .row {
        // font-size: 0.6rem;
        height: 11em;       /* height is 2x line-height, so two lines will display */
    }

}
