
h1 {
    font-size: 2.25rem;
    font-weight: 600;
}
h2 {
    font-size: 1.85rem;
    font-weight: 500;
}
h3 {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--light-text);
}
p,
h4 {
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: 300;
    color: var(--light-text);
}

@media screen and (max-width: 321px) {
  .App, html, body {
    font-size: var(--font-text-small-mobile);
  }
}

@media screen and (max-width: 550px) {
  .App, html, body {
    font-size: var(--font-text-mobile);
  }
}
@media screen and (min-width: 768px) {
  .App, html, body {
    font-size: var(--font-text-tablet);
  }
}
@media screen and (min-width: 1024px) {
  .App, html, body {
    font-size: var(--font-text-desktop);
  }
}

@media screen and (min-width: 1700px) {
  .App, html, body {
    font-size: var(--font-text-big-desktop);
  }
}

@media screen and (min-width: 2500px) {
  .App, html, body {
    font-size: var(--font-text-ultra-desktop);
  }
}
@media screen and (min-width: 3000px) {
  .App, html, body {
    font-size: var(--font-text-xxultra-desktop);
  }
}
