/* Media queries */
$mobileBreakpoint: 414px;
$mobileBreakpointXS: 376px;
$mobileBreakpointXXS: 321px;

$tabletBreakpoint: 750px;

/** colors **/
$grayDark: #c4c4c4;
$grayLight: #eeeeee;
$white: white;
$black: black;
$prim: #F4ECF4;
$amour: #F8ECF4;
$purple: #C4B4DC;
$textGray: #364152;

/* sizes */

$header-height: 70px;
$footer-height: 85px;

$bar-height: 44px;

:root {
  --header-height: 70px;
  --footer-height: 85px;
  --space-smaller: 4px;
  --space-small: 8px;
  --space-medium: 16px;
  --space-big: 24px;
  --space-bigger: 48px;

/* Font Size */
  --font-text-small-mobile: 13px;
  --font-text-mobile: 15px;
  --font-text-tablet: 17px;
  --font-text-desktop: 19px;
  --font-text-medium-desktop: 22px;
  --font-text-big-desktop: 24px;
  --font-text-ultra-desktop: 27px;
  --font-text-xxultra-desktop: 31px;

}
