@import "./variables";

.App,
html,
body {
  margin: 0;
  color: var(--light-text);
  background-color: var(--light-background);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.main {
  margin-top: $header-height;
}
section {
  padding-left: 1rem;
  padding-right: 1rem;
}

section:nth-child(even) {
  background-color: var(--dark-background);
}

.spacer {
  height: 1.5rem;
}

@media screen and (min-width: 320px) {
  section {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (min-width: 550px) {
  section {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (min-width: 768px) {
  section {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media screen and (min-width: 1400px) {
  section {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (min-width: 2000px) {
  section {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}

// For switching Theme
.theme-dark {
  --dark-text: #eeeeee;
  --light-text: #f9f8f8;
  --dark-background: #2f4550;
  --light-background: #586f7c;

  --footer-background: #6b7abb;

  --button-dark: #2f4550;
  --button-light: #b8dbd9;

  --pill: #b8dbd9;
  --cta:#b8dbd9; 

}

.theme-light {
  --dark-text: black;
  --light-text: #364152;
  --dark-background: #f4ecf4;
  --light-background: white;

  --footer-background: #c4b4dc;

  --button-dark: #5e4b56;
  --button-light: white;

  --pill: #5e4b56;
  --cta: #C4B4DC;
}
